*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f3f4f6;
    /* height: 400vh; */
}
.main-container{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.top-row{
    width: 95vw;
    height: 4rem;
    border-radius: 2rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    /* background-color: red; */
    margin-top: 2rem;
    /* position: fixed; */
}

.seperation{
    height: 90vh;
    width: 98vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: aqua; */
}

.pokemon-container{
    height: 100%;
    width: 100%;
    /* background-color: azure; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow-y: scroll;
}

.pokemon-container>div{
    width: 10vw;
    min-height: 10rem;
    min-height: 10*16/14rem;
    /* height: 14rem; */
    aspect-ratio: 16/14;
    border-radius: 2rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    margin: 2rem;
    
    
}

.pokemon-stat{
    /* border: 1px solid red; */
    border-radius: 2rem;
    box-shadow: 0px 29px 40px 0px rgba(0,0,0,0.1);
    width: 30%;
    height: 90%;
}